/* Color Settings*/

$base-color: #2d8083;
$base-text-color: #fff;
$label-text-color: rgba(255, 255, 255, 0.5);
$hover-color: #444;
$hover-accent-color: lighten($base-color, 10%);
$course-owner-name: lighten($base-color, 10%);

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
main,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
	border: 0;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

html,
body {
	height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
	display: block;
}

b,
strong {
	font-weight: bold;
}

img {
	color: transparent;
	font-size: 0;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

ul,
ol {
	list-style: none;
}

li {
	display: list-item;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th,
td,
caption {
	font-weight: normal;
	vertical-align: top;
	text-align: left;
}

q {
	quotes: none;
}

q:before,
q:after {
	content: '';
	content: none;
}

sub,
sup,
small {
	font-size: 75%;
}

sub,
sup {
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

svg {
	overflow: hidden;
}

body {
	font-family: 'Work Sans', sans-serif;
	background: $base-text-color;
}

.header {
	background: $base-color;
	padding: 20px 0;
	margin-bottom: 30px;
}
.header--logo {
	color: $base-text-color;
	font-size: 24px;
	padding: 0 15px;
	margin: 0;
	display: inline-block;
}
.header--logo a {
	color: $label-text-color;
}
.header--logo a:hover {
	color: $base-text-color;
}
.header--logo .selected {
	color: $base-text-color;
}
.header--logo .chevron {
	fill: $label-text-color;
	width: 7px;
	height: auto;
	margin: 0 10px;
}
.header nav {
	float: right;
	margin-top: 3px;
}
.header nav a {
	color: $label-text-color;
	margin: 20px;
}
.header nav a:hover {
	color: $base-text-color;
}

.actions--bar {
	border-bottom: 1px solid #d5f9fe;
	background: #f8feff;
	padding: 20px 0;
	margin-top: -30px;
}
.actions--bar:before,
.actions--bar:after {
	content: ' ';
	display: table;
}
.actions--bar:after {
	clear: both;
}
.actions--bar .button {
	margin-right: 15px;
}

h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

a {
	color: $base-color;
	cursor: pointer;
	text-decoration: none;
	-webkit-transition: color 0.2s;
	-moz-transition: color 0.2s;
	-ms-transition: color 0.2s;
	-o-transition: color 0.2s;
	transition: color 0.2s;
}

p {
	font-family: '-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji';
	margin-top: 0;
	margin-bottom: 16px;
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

pre {
	font-family: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo',
		'monospace';
	padding: 16px;
	overflow: auto;
	line-height: 1.45;
	background-color: rgba(246, 248, 250, 1);
	border-radius: 6px;
	margin-top: 0;
	margin-bottom: 0;
	word-break: normal;
	word-wrap: normal;
}

.bounds {
	max-width: 1250px;
	margin: 0 auto;
}

.grid,
.grid-25,
.grid-33,
.grid-66,
.grid-100 {
	float: left;
	padding: 0 15px;
	box-sizing: border-box;
}
.grid-25 {
	width: 25%;
}
.grid-33 {
	width: 33.3%;
}
.grid-66 {
	width: 66.6%;
}
.grid-100 {
	width: 100%;
}
.grid-right {
	float: right;
}

.centered {
	float: none;
	margin: 0 auto;
}

.course--module {
	background: $base-color;
	border-radius: 8px;
	padding: 30px;
	margin-bottom: 30px;
	min-height: 107px;
	display: block;
	position: relative;
	box-sizing: border-box;
}
.course--module:before,
.course--module:after {
	content: ' ';
	display: table;
}
.course--module:after {
	clear: both;
}
.course--module--title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.course--label {
	font-family: 'Cousine';
	font-size: 14px;
	font-weight: 100;
	color: $label-text-color;
	margin-bottom: 10px;
	font-weight: normal;
}
.course--title {
	font-size: 18px;
	color: $base-text-color;
}
.course--link {
	display: block;
	cursor: pointer;
	text-decoration: none;
	border: 0;
}
.course--add--module {
	background: #eee;
	text-align: center;
}
.course--add--module:hover .course--add--title {
	color: $hover-color;
}
.course--add--module:hover .add {
	fill: $hover-color;
}
.course--add--title {
	color: #999;
	display: inline-block;
	font-size: 18px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -55%);
	-moz-transform: translate(-50%, -55%);
	-ms-transform: translate(-50%, -55%);
	transform: translate(-50%, -55%);
}
.course--add--title .add {
	width: 13px;
	height: auto;
	margin: 0 5px 0 0;
	fill: #999;
}
.course--detail {
	margin-top: 60px;
}
.course--header {
	margin-bottom: 30px;
}
.course--header .course--label {
	font-size: 18px;
	color: #999;
}
.course--header .course--title {
	font-size: 48px;
	margin-bottom: 15px;
	color: #332a40;
}
.course--header p {
	font-size: 18px;
	color: $course-owner-name;
	font-weight: 100;
}
.course--title--input {
	font-size: 48px;
	font-weight: bold;
	font-family: 'Work Sans', sans-serif;
}
.course--description {
	margin-bottom: 30px;
	background-color: rgba(240, 255, 255, 1);
	border-radius: 1em;
	padding: 2em;
}

.course--description * {
	font-family: '-apple-system', 'BlinkMacSystemFont', 'Segoe UI', 'Helvetica',
		'Arial', 'sans-serif', 'Apple Color Emoji', 'Segoe UI Emoji';
}
.course--description textarea {
	margin-bottom: 60px;
}
.course--description p {
	font-size: 16px;
	line-height: 1.8;
	color: $hover-color;
}
.course--description ol,
.course--description ul {
	list-style-type: none;
}
.course--description li {
	position: relative;
	padding-left: 30px;
	padding: 30px 0 30px 5%;
	border-top: 1px solid #ccc;
	font-size: 16px;
	line-height: 1.8;
	font-family: 'Cousine';
}
.course--description li:before,
.course--description li:after {
	content: ' ';
	display: table;
}
.course--description li:after {
	clear: both;
}
.course--description ol li {
	counter-increment: step-counter;
}
.course--description ol li:before {
	content: counter(step-counter);
	color: #999;
	font-size: 18px;
	position: absolute;
	left: 0;
	top: 34px;
}
.course--description ul li:before {
	content: '';
	float: left;
	margin: 9px 0 0 -30px;
	width: 5px;
	height: 5px;
	border: 1px solid #999;
	border-radius: 10px;
	display: block;
}
.course--description h1,
.course--description h2,
.course--description h3 {
	color: #222;
	margin-top: 30px;
	margin-bottom: 10px;
}
.course--description h1 {
	font-size: 36px;
}
.course--description h2 {
	font-size: 30px;
}
.course--description h3 {
	font-size: 24px;
}
.course--description h4 {
	font-size: 18px;
	font-weight: 100;
	margin: 0 0 10px;
	color: #999;
	display: block;
}
.course--stats--list h4 {
	font-family: 'Cousine';
	font-weight: 100;
	color: #999;
	font-size: 14px;
	padding: 0 0 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ddd;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.course--stats--list h3 {
	font-family: 'Work Sans', sans-serif;
	font-size: 18px;
}
.course--stats--list > li {
	margin-bottom: 50px;
}
.course--stats--list > li ul {
	padding-left: 20px;
}
.course--stats--list > li li {
	margin-bottom: 15px;
	list-style-type: circle;
}
.course--time--input {
	font-family: 'Work Sans', sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
}

.signin,
.signup {
	margin-top: 60px;
}

textarea {
	width: 100%;
	min-height: 300px;
	border-radius: 8px;
	background: $base-text-color;
	padding: 15px;
	font-size: 16px;
	margin: 0 0 20px;
	border: 1px solid #ccc4d8;
	color: #666;
	line-height: 1.8;
	outline: none;
	font-family: 'Cousine';
	box-sizing: border-box;
}
textarea::-webkit-input-placeholder {
	font-weight: normal;
	font-size: 16px;
}
textarea:-moz-placeholder {
	font-weight: normal;
	font-size: 16px;
}
textarea::-moz-placeholder {
	font-weight: normal;
	font-size: 16px;
}
textarea:-ms-input-placeholder {
	font-weight: normal;
	font-size: 16px;
}
textarea:focus {
	border-color: $base-color;
}

input {
	width: 100%;
	color: #332a40;
	border-radius: 8px;
	border: 1px solid #ccc4d8;
	padding: 15px;
	margin-bottom: 15px;
	outline: none;
	box-sizing: border-box;
	font-size: 16px;
}
input::-webkit-input-placeholder {
	font-weight: normal;
}
input:-moz-placeholder {
	font-weight: normal;
}
input::-moz-placeholder {
	font-weight: normal;
}
input:-ms-input-placeholder {
	font-weight: normal;
}
input:focus {
	border-color: $base-color;
}

.input-title::-webkit-input-placeholder {
	font-weight: bold;
}
.input-title:-moz-placeholder {
	font-weight: bold;
}
.input-title::-moz-placeholder {
	font-weight: bold;
}
.input-title:-ms-input-placeholder {
	font-weight: bold;
}

.button {
	background: $base-color;
	color: $base-text-color;
	font-family: 'Work Sans', sans-serif;
	font-size: 18px;
	padding: 15px 30px;
	border: 0;
	margin-right: 10px;
	border-radius: 8px;
	font-weight: bold;
	display: inline-block;
	box-sizing: border-box;
	-webkit-transition: background 0.2s;
	-moz-transition: background 0.2s;
	-ms-transition: background 0.2s;
	-o-transition: background 0.2s;
	transition: background 0.2s;
}
.button:focus {
	outline: none;
}
.button:not(.button-secondary):hover {
	background: $hover-accent-color;
}

.button-secondary {
	color: $base-color;
	background: none;
	box-shadow: 0 0 0 2px $base-color inset;
	-webkit-transition: box-shadow 0.2s, color 0.2s;
	-moz-transition: box-shadow 0.2s, color 0.2s;
	-ms-transition: box-shadow 0.2s, color 0.2s;
	-o-transition: box-shadow 0.2s, color 0.2s;
	transition: box-shadow 0.2s, color 0.2s;
}
.button-secondary:hover {
	color: $hover-accent-color;
	box-shadow: 0 0 0 2px $hover-accent-color inset;
}

/* adds additional padding to the bottom of an element */
.pad-bottom {
	padding-bottom: 40px;
}

/* added additional class name for header elements */
.signout {
	margin-top: 60px;
}

/* styles the signed in user's name in the header */
.header nav span {
	color: $base-text-color;
	margin-left: 20px;
}

/* styles the validation errors */
.validation--errors--label {
	color: $base-color;
	font-size: 28px;
}
.validation-errors ul {
	color: $base-color;
	padding: 15px 0 40px 10px;
}

/* reduce bottom margin on the course description textarea element */
.course--description textarea {
	margin-bottom: 20px;
}
